<ion-header>
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="end" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="text">
  <div class="container">
    <ion-card color="background" *ngIf="emailSent==false">
      <ion-card-header>
        <ion-card-title>Enter your Email</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-button (click)="resetPassword()" class="ion-margin-vertical" expand="block" fill="solid">
          Reset Password
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" color="background" *ngIf="emailSent==true">
      <ion-card-header>
        <ion-card-title>Password Reset Email has been sent</ion-card-title>
      </ion-card-header>
      <ion-button (click)="gotoLogin()" expand="block" fill="solid">
        Go to login
      </ion-button>
    </ion-card>
  </div>
</ion-content>
