<ion-header [translucent]="true">
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <div class="container">
    <ion-item color="background">
      <ion-label>Quiz Type</ion-label>
      <ion-select placeholder="Type" (ionChange)="selectType($event)">
        <ion-select-option value="multipleChoice">Multiple Choice</ion-select-option>
        <ion-select-option value="identification" disabled>Identification</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item color="background">
      <ion-label>Subject</ion-label>
      <ion-select placeholder="Subject" (ionChange)="selectSubject($event)">
        <ng-container *ngFor="let item of subjects">
          <ion-select-option value="{{item.id}}">{{ item.title }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item color="background">
      <ion-label>Sets</ion-label>
      <ion-select [disabled]="subjectID != ''? false : true" placeholder="Sets" (ionChange)="selectSets($event)">
        <ng-container *ngFor="let item of sets">
          <ion-select-option value="{{item.id}}">{{ item.title }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-button (click)="start()" color="text" expand="block" fill="solid">
      Start
    </ion-button>
  </div>
</ion-content>
