<ion-content>
  <div class="container">
    <div class="top">
      <ion-img class="img" src="../../assets/icon/icon.png"></ion-img>
      <h1 style="margin-top: 5px;">Study Buddy</h1>
    </div>
    <div class="bottom">
      <h1>Welcome!</h1>
      <p>Offers you an incredibly versatile
        study tool in improving your 
        study habit.</p>
      <div class="btn-container">
        <ion-button routerLink="/login" size="large" class="btn" color="background" expand="block" fill="outline" shape="round">
          Log in
        </ion-button>
        <ion-button routerLink="/register" size="large" class="btn" color="background" expand="block" fill="solid" shape="round">
          Sign up
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>