<ion-header [translucent]="true">
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
<div class="container">
  <div class="top">
      <ion-img class="img" src="../../assets/icon/icon.png"></ion-img>
      <h1>  Study Buddy </h1>

  <div class="divider"></div>
    <p>Was developed by BSCS in fulfillment 
      of their course Mobile Computing 2.</p>
    <p> Study Buddy is a user-friendly flashcard application.
      It is a type of reviewer that lets users create a relevant topic
      for their subject matter, which enhances their writing and cognitive skills.
      It has two main features: creating cards for reviewers and testing
      your knowledge through quizzes.
    </p>
  </div>

  <div class="bottom">
    <h3>Version</h3>
    <p>1.0.0</p>
    
    <div class="divider"></div>

    <h3>Developers</h3>
    <ion-item color="custom-light">
      <ion-label color="text">Jodelmar Q. Beltran</ion-label>
    </ion-item>
    <ion-item color="custom-light">
      <ion-label color="text">Kaezza Dianara P. Battuing</ion-label>
    </ion-item>
    <ion-item color="custom-light">
      <ion-label color="text">Larissa L. Calebag</ion-label>
    </ion-item>
    <ion-item color="custom-light">
      <ion-label color="text">Aldrae Nichole Frace</ion-label>
    </ion-item>
    <ion-item color="custom-light">
      <ion-label color="text">Maybeline Jamica B. Gabuya</ion-label>
    </ion-item>
    <ion-item color="custom-light">
      <ion-label color="text">Kristina G. Maguddayao</ion-label>
    </ion-item>

    <div class="divider"></div>

    <h3>Contacts</h3>
    <p>www.studybuddy.com</p>
    <p>studybuddy@gmail.com</p>
    <p>Contact No.</p>

  </div>
</div>
</ion-content>
