.container{
    height: 90%;
    overflow-y: scroll;
    padding-top: 10px;
}
// .item-container{
//     border: 1px solid var(--ion-color-text);
//     background-color: var(--ion-color-custom-light);
//     margin: 10px 20px;
//     padding: 0 10px;
// }
// .top{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .item-container h4{
//     color: var(--ion-color-text);
//     font-weight: bold;
// }
// .item-container p{
//     margin-top: 0;
// }
.btn{
    margin-top: 5px;
    text-align: center;
}
.popOver{
    font-weight: bold;
    margin: 10px;
}