<ion-header>
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Module 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <div class="container">
    <div class="item-container" *ngFor="let item of list" (click)="openCard(item)">
      <h4>{{ item.term }}</h4>
      <p>{{ item.definition }}</p>
    </div>
  </div>
  <div class="btn">
    <ion-button (click)="addCard()" color="text" fill="solid" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Add Card
    </ion-button>
  </div>
</ion-content>
