<ion-content color="text">
  <div class="container">
    <div class="top">
      <h1>Welcome Back!</h1>
      <ion-input class="email" type="text" placeholder="Email"></ion-input>
      <ion-input class="password" type="password" placeholder="Password"></ion-input>
      <ion-button routerLink="/home" class="login" color="background" expand="block" fill="solid" shape="round">
        <p style="font-weight: bold;">Login</p>
      </ion-button>
    </div>
    <div class="bottom">
      <p>Don't have an account?</p>
      <ion-button routerLink="/register" fill="clear">
        Sign Up
      </ion-button>
    </div>
  </div>
</ion-content>
