<ion-header>
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="end" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="background">
  <div class="container">
    <ion-item color="background">
      <ion-label>Old Password:</ion-label>
      <ion-input [type]="showPasswordOld ? 'text' : 'password'" [(ngModel)]="oldPassword"></ion-input>
      <ion-icon style="color: rgb(148, 148, 148);" size="small" [name]="showPasswordOld ? 'eye-outline' : 'eye-off-outline'" (click)="showPasswordOld = !showPasswordOld"></ion-icon>
    </ion-item>
    <ion-item color="background">
      <ion-label>New Password:</ion-label>
      <ion-input [type]="showPasswordNew ? 'text' : 'password'" [(ngModel)]="newPassword"></ion-input>
      <ion-icon style="color: rgb(148, 148, 148);" size="small" [name]="showPasswordNew ? 'eye-outline' : 'eye-off-outline'" (click)="showPasswordNew = !showPasswordNew"></ion-icon>
    </ion-item>
    <ion-item color="background">
      <ion-label>Confirm Password:</ion-label>
      <ion-input [type]="showPasswordConfirm ? 'text' : 'password'" [(ngModel)]="confirmPassword"></ion-input>
      <ion-icon style="color: rgb(148, 148, 148);" size="small" [name]="showPasswordConfirm ? 'eye-outline' : 'eye-off-outline'" (click)="showPasswordConfirm = !showPasswordConfirm"></ion-icon>
    </ion-item>
    <ion-button (click)="changePassword()" expand="block" fill="solid">
      Change Password
    </ion-button>
  </div>
</ion-content>
