<ion-header>
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="end" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="background">
  <div class="container">
    <ion-item color="background">
      <ion-label>Old Password:</ion-label>
      <ion-input type="text" [(ngModel)]="oldPassword"></ion-input>
    </ion-item>
    <ion-item color="background">
      <ion-label>New Password:</ion-label>
      <ion-input type="text" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item color="background">
      <ion-label>Confirm Password:</ion-label>
      <ion-input type="text" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-button (click)="changePassword()" expand="block" fill="solid">
      Change Password
    </ion-button>
  </div>
</ion-content>
