<ion-header>
  <ion-toolbar color="background">
    <ion-title>Edit Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="card">
    <ion-item>
      <ion-label position="stacked">Term</ion-label>
      <ion-input [(ngModel)]="card.term"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Definition</ion-label>
      <ion-textarea [(ngModel)]="card.definition" rows="7"></ion-textarea>
    </ion-item>

    <ion-button color="text" expand="block">
      <ion-icon slot="start" name="save"></ion-icon>
      Update
    </ion-button>
    <ion-button color="danger" expand="block">
      <ion-icon slot="start" name="trash"></ion-icon>
      Delete
    </ion-button>
</div>
</ion-content>
