.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--ion-color-text);
    background-color: var(--ion-color-light);
    border-radius: 10px;
    height: 320px;
    margin: 20px 30px;
    padding: 10px;
}
.controls{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}
.btn {
    width: 150px;
}