.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--ion-color-text);
    background-color: var(--ion-color-light);
    border-radius: 10px;
    height: 75%;
    margin: 20px 30px;
    padding: 10px;
}
.controls{
    margin: 0 30px;
}
// .btn {
//     width: 150px;
// }