<ion-header>
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <div class="content">
    <p>{{ toggle? term : definition }}</p>
  </div>
  <div class="controls">
    <!-- <ion-button size="small" color="text" fill="solid" shape="round">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button> -->
    <ion-button (click)="toggle = !toggle" size="small" color="text" fill="solid" shape="round" expand="block">
      <p>{{ toggle? 'HIDE ANSWER':'SHOW ANSWER' }}</p>
    </ion-button>
    <ion-button (click)="next()" size="small" color="text" fill="solid" shape="round" expand="block">
      NEXT
    </ion-button>
    <!-- <ion-button size="small" color="text" fill="solid" shape="round">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button> -->
  </div>

</ion-content>
