<ion-header [translucent]="true">
  <ion-toolbar color="text">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-text color="text" class="ion-text-center">
    <h1>How to use?</h1>
  </ion-text>
  <div class="container">
    <ng-container *ngFor="let item of guide">
    <ion-item color="background">
      <ion-text color="text">
        <h4>{{ item.q }}</h4>
        <p>{{ item.a }}</p>
      </ion-text>
    </ion-item>
  </ng-container>
  </div>
</ion-content>
