.container{
    height: 100%;
    text-align: center;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    // border: 1px solid red;
    background-color: var(--ion-color-text);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    height: 15%;
}
ion-avatar {
    width: 100px;  
    height: 100px;
    position: absolute;
    top: 7%;
}
.items{
    margin-top: 50px;
}
ion-item {
    border-bottom: 1px solid var(--ion-color-text);
}