<ion-header [translucent]="true">
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="custom-dark">
  <div class="top">
    <ion-img src="../../assets/user.png"></ion-img>
    <p>Albert Einstein</p>
  </div>
  <div class="account-info">
    <p class="title">Account</p>
    <div class="divider"></div>
    <div class="item">
      <p>Username</p>
    </div>
    <div class="item pass">
      <p>Password</p>
      <p style="color: #4A92FF; font-size: 11px;">Change Password</p>
    </div>
  </div>
  <div class="progress">
    <p class="title">Progress</p>
    <div class="divider"></div>
    <div class="container">
      <div class="item-container">
        <p class="title">Subject 1</p>
        <p style="color: #CCCCCC; font-size: 12px">21/50 cards memorize</p>
        <div class="divider"></div>
      </div>
      <div class="item-container">
        <p class="title">Subject 2</p>
        <p style="color: #CCCCCC; font-size: 12px">17/30 cards memorize</p>
        <div class="divider"></div>
      </div>
      <div class="item-container">
        <p class="title">Subject 3</p>
        <p style="color: #CCCCCC; font-size: 12px">13/15 cards memorize</p>
        <div class="divider"></div>
      </div>
      <div class="item-container">
        <p class="title">Subject 4</p>
        <p style="color: #CCCCCC; font-size: 12px">18/25 cards memorize</p>
        <div class="divider"></div>
      </div>
    </div>
  </div>

</ion-content>
