<ion-header [translucent]="true">
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="custom-dark">
  <div class="top">
    <p>Mobile Computing</p>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </div>
  
  <div class="divider"></div>
      
  <ion-card *ngFor="let item of data" color="custom-secondary">
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="custom-text-color">
        <p>{{ item.noOfCards }} cards</p>
      </ion-text>
      <ion-button color="custom-primary" fill="solid" shape="round">
        Review
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
